*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to bottom, #2d0452,rgb(122, 13, 77));
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title{
    font-size: xx-large;
    color: rgb(255, 255, 255);
    padding: 10px;
    border-bottom: #000000 solid 2px;
}

#container{
    min-height: 100vh;
}

header nav ul{
    display: flex;
    justify-content: space-around;
    font-weight: 1000;
    padding: 5px;
    margin: 0;
    gap: 430px;
}

header nav ul li a{
    text-decoration: none;
    color: #f8f8f8;
    font-size: 25px;
}

header nav ul li a:hover{
    color: #000000;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

aside{
    padding: 20px;
    border-top: #000000 solid 2px
}

#titulodofiltro{
    color: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 30px;
    justify-content: center;
}

.filtro ul{
    margin-bottom: 10px;
    padding: 0;
    gap: 100px;
    display: flex;
    justify-content: center;
}

.filtro a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 1000;
    font-size: 25px;
}

.filtro a:hover{
    color: #000000;
}

li{
    list-style-type: none;
}

.produto{
    border-radius: 20px;
    width: 300px;
    height: 650px; 
    margin: 20px;
    padding: 20px;
    border: 2px solid rgb(0, 0, 0);
    color: #ffffff;
}

.produto img{
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.preco{
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 1000;
    font-size: 20px;
    color: green;
}

button{
    padding: 15px 45px;
    font-size: 1.7rem;
    width: 255px;
    height: auto;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    color: rgb(0, 0, 0);
}

button:hover{
    background: #0680d1;
    color:black;
}

.titulovinho{
    margin-bottom: 5px;
    font-size: 20px;
}

footer{
    margin-top: 125px;
    background-color: #f8f8f8;
    border-top: #000000 solid 2px;
}

.contato{
    padding: 20px;
}

.redesociais{
    padding: 20px;
}

.redesociais a{
    text-decoration: none;
}

.direitos{
    padding: 20px;
}